In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn 
from  sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error, accuracy_score

In [16]:
carsales = pd.read_csv("car-sales-extended-missing-data.csv")
carsales.head()

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0

In [17]:
import pandas as pd

# Assuming you have your DataFrame named 'carsales'
# Fill missing values in the 'Make' column with a specific value, for example, 'Unknown'
carsales['Make'].fillna('missing', inplace=True)
carsales['Colour'].fillna('missing', inplace=True)

# Fill missing values in the 'Doors' column with a specific value, for example, the most common value

carsales['Doors'].fillna(4, inplace=True)
carsales['Odometer (KM)'].fillna(carsales['Odometer (KM)'].mean(), inplace=True)

# Show the DataFrame after filling missing values
print(carsales)
carsales.isna().sum()
carsales.dropna(inplace=True)

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

C:\Users\user\AppData\Local\Temp\ipykernel_9432\519155266.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carsales['Make'].fillna('missing', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_9432\519155266.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carsales['Colour'].fillna('missing', inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_9432\519155266.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carsales['Doors'].fillna(4, inplace=True)
C:\Users\user\AppData\Local\Temp\ipykernel_9432\519155266.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  carsales['Odometer (KM)'].fillna(carsales['Odometer (KM)'].mean(), inplace=True)

In [22]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Assuming carsales is your DataFrame
np.random.seed(42)

# Define features and target
X = carsales.drop("Price", axis=1)
Y = carsales["Price"]

# Instantiate LinearRegression model
model = LinearRegression()

# Define features for OneHotEncoder
features = ["Make", "Colour", "Doors"]

# Instantiate OneHotEncoder
onehot = OneHotEncoder()

# Create ColumnTransformer
transformer = ColumnTransformer([
    ("onehot", onehot, features)
], remainder="passthrough")

# Transform features
transformed_x = transformer.fit_transform(X)

# Split data into train and test sets
X_train, X_test, Y_train, Y_test = train_test_split(transformed_x, Y)

# Fit the model
model.fit(X_train, Y_train)

# Debug: Check if the model is trained
print("Model trained successfully!")
 
 
y_preds = model.predict(X_test)

print("Classifier metrics on the test set")
mse = mean_squared_error(Y_test, y_preds)
print("Regression metrics on the test set")
print(f"Mean Squared Error: {mse}")

f""

Model trained successfully!
Classifier metrics on the test set
Regression metrics on the test set
Mean Squared Error: 49658156.24656331

In [ ]:
X = carsales.drop("Price", axis=1)
Y = carsales["Price"]
model =  RandomForestRegressor()
mode = RandomForestClassifier()

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
features = ["Make", "Colour", "Doors" ]
onehot = OneHotEncoder()
transformer = ColumnTransformer([("onehot",
                                  onehot,
                                  features)],
                                remainder = "passthrough")
transformed_x = transformer.fit_transform(X)

np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(transformed_x, Y)

model.fit(X_train, Y_train)
model.score(X_test, Y_test)

np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators....")
    model = RandomForestRegressor(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{model.score(X_test, Y_test)*100}")

Trying model with 10 estimators....
Model accuracy on test set:13.609292233911974
Trying model with 20 estimators....
Model accuracy on test set:17.862055253150345
Trying model with 30 estimators....
Model accuracy on test set:23.74116485668306
Trying model with 40 estimators....
Model accuracy on test set:21.357786274461297
Trying model with 50 estimators....
Model accuracy on test set:21.0756223675455
Trying model with 60 estimators....
Model accuracy on test set:21.116936829599098
Trying model with 70 estimators....
Model accuracy on test set:20.683908872845148
Trying model with 80 estimators....
Model accuracy on test set:21.599235278667617
Trying model with 90 estimators....
Model accuracy on test set:20.165005000909964

In [ ]:
mode.fit(X_train, Y_train)
mode.score(X_test, Y_test)
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators....")
    clf = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{mode.score(X_test, Y_test)*100}")

Trying model with 10 estimators....
Model accuracy on test set:0.0
Trying model with 20 estimators....
Model accuracy on test set:0.0
Trying model with 30 estimators....
Model accuracy on test set:0.0
Trying model with 40 estimators....
Model accuracy on test set:0.0
Trying model with 50 estimators....
Model accuracy on test set:0.0
Trying model with 60 estimators....
Model accuracy on test set:0.0
Trying model with 70 estimators....
Model accuracy on test set:0.0
Trying model with 80 estimators....
Model accuracy on test set:0.0
Trying model with 90 estimators....
Model accuracy on test set:0.0

In [ ]:
df = pd.read_csv("car-sales-extended-missing-data.csv")
df.isna().sum()
df.dropna(subset = ["Price"], inplace=True)
df.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [ ]:
X = df.drop("Price", axis=1)
Y = df["Price"]

In [ ]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [ ]:
cat_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="constant", fill_value= 4)
num_imputer = SimpleImputer(strategy="mean")

In [ ]:
cat_features =["Make", "Colour"] 
door_feature = ["Doors"]
num_feature = ["Odometer (KM)"]

In [ ]:
imputer = ColumnTransformer([
    ("cat_imputer", cat_imputer, cat_features),
    ("door_imputer", door_imputer, door_feature),
    ("num_imputer", num_imputer, num_feature)
])

Filled_X = imputer.fit_transform(X)
Filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], dtype=object)

In [ ]:
df_filled

NameError: name 'df_filled' is not defined

In [ ]:
df_filled = pd.DataFrame(Filled_X,
                         columns = ["Make","Colour", "Odometer (KM)", "Doors" ])
df_filled.isna().sum()
df_filled

        Make Colour Odometer (KM)     Doors
0      Honda  White           4.0   35431.0
1        BMW   Blue           5.0  192714.0
2      Honda  White           4.0   84714.0
3     Toyota  White           4.0  154365.0
4     Nissan   Blue           3.0  181577.0
..       ...    ...           ...       ...
945   Toyota  Black           4.0   35820.0
946  missing  White           3.0  155144.0
947   Nissan   Blue           4.0   66604.0
948    Honda  White           4.0  215883.0
949   Toyota   Blue           4.0  248360.0

[950 rows x 4 columns]

In [ ]:
df_filled["Doors"] = df_filled["Doors"].astype(float).astype(int)
df_filled.isna().sum()
df_filled

        Make Colour Odometer (KM)   Doors
0      Honda  White           4.0   35431
1        BMW   Blue           5.0  192714
2      Honda  White           4.0   84714
3     Toyota  White           4.0  154365
4     Nissan   Blue           3.0  181577
..       ...    ...           ...     ...
945   Toyota  Black           4.0   35820
946  missing  White           3.0  155144
947   Nissan   Blue           4.0   66604
948    Honda  White           4.0  215883
949   Toyota   Blue           4.0  248360

[950 rows x 4 columns]

In [ ]:
model =  RandomForestRegressor()
mode = RandomForestClassifier()

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
features = ["Make", "Colour", "Doors" ]
onehot = OneHotEncoder()
transformer = ColumnTransformer([("onehot",
                                  onehot,
                                  features)],
                                remainder = "passthrough")
transformed_x = transformer.fit_transform(df_filled)
transformed_x

<950x913 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [ ]:
np.random.seed(42)
X_train, X_test, Y_train, Y_test = train_test_split(transformed_x, Y, test_size= 0.2)

model.fit(X_train, Y_train)
model.score(X_test, Y_test)

np.random.seed(42)
for i in range(10, 110, 10):
    print(f"Trying model with {i} estimators....")
    model = RandomForestRegressor(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{model.score(X_test, Y_test)*100}")

Trying model with 10 estimators....
Model accuracy on test set:-8.360430331641467
Trying model with 20 estimators....
Model accuracy on test set:-4.667100395533175
Trying model with 30 estimators....
Model accuracy on test set:-2.1129153950268487
Trying model with 40 estimators....
Model accuracy on test set:-7.820929654542175
Trying model with 50 estimators....
Model accuracy on test set:-2.8608582194723953
Trying model with 60 estimators....
Model accuracy on test set:-5.019546891634485
Trying model with 70 estimators....
Model accuracy on test set:-4.541251443572092
Trying model with 80 estimators....
Model accuracy on test set:-3.0192818135985178
Trying model with 90 estimators....
Model accuracy on test set:-3.409850338755005
Trying model with 100 estimators....
Model accuracy on test set:-4.954006950841516

In [ ]:
mode.fit(X_train, Y_train)
mode.score(X_test, Y_test)

np.random.seed(42)
for i in range(10, 110, 10):
    print(f"Trying model with {i} estimators....")
    mode = RandomForestClassifier(n_estimators=i).fit(X_train,Y_train)
    print(f"Model accuracy on test set:{mode.score(X_test, Y_test)*100}")

Trying model with 10 estimators....
Model accuracy on test set:0.0
Trying model with 20 estimators....
Model accuracy on test set:0.0
Trying model with 30 estimators....
Model accuracy on test set:0.0
Trying model with 40 estimators....
Model accuracy on test set:0.0
Trying model with 50 estimators....
Model accuracy on test set:0.0
Trying model with 60 estimators....
Model accuracy on test set:0.0
Trying model with 70 estimators....
Model accuracy on test set:0.0
Trying model with 80 estimators....
Model accuracy on test set:0.0
Trying model with 90 estimators....
Model accuracy on test set:0.0
Trying model with 100 estimators....
Model accuracy on test set:0.0